.profile-medals strong { display: none; }
/* Icon images */
.approve-icon, 
.approve-icon a {
	background: url("./images/icon_post_approve.gif") top left no-repeat;
}

ul.approve-icons, 
li.approve-icon { 
	width: 20px;
	height: 20px; 
}

.icon-medal {
	background-image: url("./images/icon_medal.gif");
}

.reason {
	font-size: 1.2em;
}

fieldset.fields3 dt {
	width: 45em;
	border-right-width: 0;
}

.profile-medal-info a {
	font-weight: bold;
}

.medal-category {
	padding-left: 10px !important;
	padding-top: 7px !important;
}

.medal-info {
	text-align: center !important;
	padding: 0 !important;
}

.medal-info p {
	margin: 0;
}

.medal-info-row {
	width: 75% !important;
}

.medal-details {
	padding: 5px 10px !important;
	margin: auto !important;
}

.medal-details-row {
	float: none !important;
	width: 100% !important;
}

.medal-details-row p {
	margin: 0 !important;
}

li.category-name {
	color: #fff !important;
	font-weight: bold;
	font-style: italic;
	font-size: 1.4em;
	border-top: black solid;
    padding: 5px 2px;
}