<!-- INCLUDE overall_header.html -->
<h2>{L_MEDAL_CP}</h2>
<form method="post" action="{U_MEDALS_ACTION}" name="post">
	{% set S_VALIDATE_PANEL_ACTIVE = true %}
	{% include 'medalcp_nav.html' %}
	<div class="panel bg3">
		<div class="inner">
			<div id="cp-main" class="mcp-main">
				<h2>{NOMINATE_MEDAL}</h2>
				<div class="panel">
					<div class="inner">
						<table cellspacing="0" class="table1">
							<thead>
							<tr>
								<th colspan="2">{L_NOMINATE_MEDAL}</th>
							</tr>
							</thead>
							<tbody>
								<!-- BEGIN nominations -->
								<tr class="<!-- IF nominations.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
									<td>
										<ul class="post-buttons">
											<li>
												<a title="{L_DELETE}" href="{nominations.U_DELETE}" class="button button-icon-only">
													<i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{L_DELETE}</span>
												</a>
											</li>
											<li>
												<a title="{L_APPROVE}" href="{nominations.U_APPROVE}" class="button button-icon-only">
													<i class="icon fa-exclamation fa-fw" aria-hidden="true"></i><span class="sr-only">{L_APPROVE}</span>
												</a>
											</li>
											<li>
												<a title="{L_MEDAL_EDIT}" href="{nominations.U_MEDAL_EDIT}" class="button button-icon-only">
													<i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{L_MEDAL_EDIT}</span>
												</a>
											</li>
										</ul>
									</td>
									<td><div class="reason"><span>{nominations.REASON}</span></div></td>
								</tr>
								<!-- END nominations -->
								<!-- IF S_ROW_COUNT eq 0 -->
								<tr class="bg1">
									<td colspan="2"><p>{L_NO_USER_NOMINATIONS}</p></td>
								</tr>
								<!-- ENDIF -->
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</form>
<div class="copyright">{L_EXT_AUTHOR_COPY}</div>
<!-- INCLUDE overall_footer.html -->
