<!-- INCLUDE overall_header.html -->
<h2>{{ lang('MEDAL_CP') }}</h2>
<form method="post" action="{{ U_MEDALS_ACTION }}" name="post">
	{% set S_AWARDED_PANEL_ACTIVE = true %}
	{% include 'medalcp_nav.html' %}
	<div class="panel">
		<div class="inner">
			<div id="cp-main" class="ucp-main">
				<h2>{{ lang('AWARDED_MEDAL_TO') }} {{ AWARDED_USERNAME }}</h2>
				{% include 'medals_awarded.html' %}
				{% if loops.pagination|length %}
				<div class="action-bar">
					<div class="pagination">
						{% INCLUDE 'pagination.html' %}
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</form>
<script type="text/javascript">
	{JS}
	var form_name = 'post';
	var text_name = 'message';
	function ipreview(element)
	{
		if (medals[element.value] == '' || medals[element.value] == null)
			document.getElementById('imagepreview').innerHTML = '<br />{L_IMAGE_ERROR}';
		else
			document.getElementById('imagepreview').innerHTML = '<br /><img src="'+medals[element.value]+'" alt="{L_IMAGE_ALT}" style="max-width: 60px; max-height: 60px;" />';
	}
</script>
<div class="copyright">{L_EXT_AUTHOR_COPY}</div>
<!-- INCLUDE overall_footer.html -->
