<!-- BEGIN switch_display_medal -->
<!-- INCLUDEJS toggle_display.js -->
<div class="panel" id="medal_info">
	<div class="inner">
		<h3>{{ lang('MEDAL_INFORMATION') }}</h3>
		<h3>{{ lang('MEDALS_VIEW') ~ lang('COLON') }}&nbsp;<b>{{ USER_MEDAL_COUNT }}</b></h3>
		<table width="100%" cellspacing="1" cellpadding="3" border="0" align="center">
			<tr>
				<td valign="top">
					<!-- BEGIN details -->
					&nbsp;{{ switch_display_medal.details.MEDAL_IMAGE_SMALL }}&nbsp;
					<!-- END details -->
				</td>
			</tr>
		</table>
		{% if U_MEDALS_VIEW %}
		<hr />
		<p class="awards-view"><a href="{{ U_MEDALS_VIEW }}">{{ lang('MEDALS_VIEW_BUTTON') }}</a></p>
		{% endif %}
	</div>
</div>
<!-- END switch_display_medal -->
